@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

/* input {

} */

button {
	border: 0;
	cursor: pointer;
	background: none;
}

body {
	background-color: #F8F3EC;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}